@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

.vazirmatn {
	font-family: 'Vazirmatn', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

* {
	font-family: 'vazirmatn';
}
